<footer class="footer-area section-padding-1">
    <div class="container-fluid">
        <div class="footer-top pt-50 pb-50">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="footer-logo">
                        <a href="index.html">
                            <img src="/images/logo/logo.png" alt="logo">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer-menu">
                        <nav>
                            <ul>
                                <li><a class="active" href="index.html">HOME</a></li>
                                <li><a href="#">PAGES</a></li>
                                <li><a href="shop-fullwide.html">SHOP</a></li>
                                <li><a href="shop-collection.html">COLLECTIONS</a></li>
                                <li><a href="blog.html">BLOG</a></li>
                                <li><a href="#">ELEMENTS</a></li>
                                <li><a href="contact.html">CONTACT</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="social-icon-style social-icon-right">
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        <a href="#"><i class="fa fa-google"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-botoom border-top-1">
            <div class="row">
                <div class="col-12">
                    <div class="copyright text-center copyright-ptb">
                        <p>© 2020 YOUNG. <a target="_blank" href="https://hasthemes.com/">All rights reserved.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>