<header class="header-area section-padding-1">
    <div class="header-large-device">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-2">
                    <div class="logo logo-res-lg">
                        <a href="/">
                            <img src="/images/logo/logo.png" alt="logo">
                        </a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-8">
                    <div class="main-menu menu-lh-3 main-menu-padding-1 menu-text-black text-center">
                        <nav>
                            <ul>
                                <li><a class="active" href="/">HOME</a>
                                    
                                </li>
                                <% if(isUser){ %>                                
                                <li><a href="/blog">BLOG</a></li>
                                <li><a href="/contact">CONTACT</a></li>
                                <li><a href="/logout">Logout</a></li>
                                <% }else{ %>
                                    <li><a href="/login">Login</a>
                                    </li>
                                    <li><a href="/signup">signup</a></li>
                                <% }  %> 
                                
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-2">
                    <div class="header-right-wrap header-right-flex hr-mrg-handmade">
                        <div class="same-style same-style-mrg-dec search-3-area">
                            <a class="search-toggle" href="#">
                                <i class="lnr lnr-magnifier s-open"></i>
                                <i class="ti-close s-close"></i>
                            </a>
                            <div class="search-wrap-3">
                                <form action="#">
                                    <input placeholder="Search products..." type="text">
                                </form>
                            </div>
                        </div>
                        <div class="same-style same-style-mrg-dec">
                            <a href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                        </div>
                        <div class="same-style same-style-mrg-dec">
                            <a class="cart-active" href="cart.html"><i class="fa fa-cart-arrow-down"></i></a>
                        </div>
                        <div class="same-style same-style-mrg-dec">
                            <a class="clickalbe-button-active" href="#"><i class="fa fa-bars"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-small-device">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="mobile-logo mobile-logo-width">
                        <a href="index.html">
                            <img alt="" src="/images/logo/logo.png">
                        </a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="header-right-wrap header-right-flex">
                        <div class="same-style">
                            <a href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                        </div>
                        <div class="same-style">
                            <a class="cart-active" href="cart.html"><i class="fa fa-cart-arrow-down"></i></a>
                        </div>
                        <div class="same-style">
                            <a class="mobile-menu-button-active" href="#"><i class="fa fa-bars"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>