<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class=" ti-close " aria-hidden="true"></span></button>
            </div>
            <div class="modal-body">
                <div class="row no-gutters">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="quickview-slider-active owl-carousel">
                            <a class="img-popup" href="/images/product/quickview-1.jpg"><img src="/images/product/quickview-elec-1.jpg" alt=""></a>
                            <a class="img-popup" href="/images/product/quickview-2.jpg"><img src="/images/product/quickview-elec-2.jpg" alt=""></a>
                        </div>
                        <!-- Thumbnail Large Image End -->
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-details-content quickview-content-padding">
                            <h2 class="uppercase">Acer Aspire TC-885-UA92 Desktop</h2>
                            <h3>$19.99</h3>
                            <div class="product-details-peragraph">
                                <p>Sed ligula sapien, fermentum id est eget, viverra auctor sem. Vivamus maximus enim vitae urna porta, ut euismod nibh lacinia. Pellentesque at diam sed libero tincidunt feugiat.</p>
                            </div>
                            <div class="product-details-action-wrap">
                                <div class="product-details-quality">
                                    <div class="cart-plus-minus">
                                        <input class="cart-plus-minus-box" type="text" name="qtybutton" value="2">
                                    </div>
                                </div>
                                <div class="product-details-cart">
                                    <a title="Add to cart" href="#">Add to cart</a>
                                </div>
                                <div class="product-details-wishlist">
                                    <a title="Add to wishlist" href="#"><i class="fa fa-heart-o"></i></a>
                                </div>
                                <div class="product-details-compare">
                                    <a title="Add to compare" href="#"><i class="fa fa-compress"></i></a>
                                </div>
                            </div>
                            <div class="product-details-meta">
                                <span>SKU: N/A</span>
                                <span>Categories: <a href="#">Woman</a>, <a href="#">Dress</a>, <a href="#">Style</a>, <a href="#">T-Shirt</a>, <a href="#">Mango</a></span>
                                <span>Tag: <a href="#">Fashion</a>, <a href="#">Dress</a> </span>
                                <span>Product ID: <a href="#">274</a></span>
                            </div>
                            <div class="product-details-info">
                                <a href="#"><i class=" ti-location-pin "></i>Check Store availability</a>
                                <a href="#"><i class=" ti-shopping-cart "></i>Delivery and Return</a>
                                <a href="#"><i class="ti-pin"></i>Ask a Question</a>
                            </div>
                            <div class="product-details-social-wrap">
                                <span>SHARE THIS PRODUCT</span>
                                <div class="product-details-social">
                                    <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                                    <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                                    <a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>
                                    <a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->